@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	background-color: #ffffcc;
	color: #404040;
	font: 16px/1.6 'Roboto', sans-serif;
}
header, .modal-content, nav, .dropdown-menu, footer {
	background-color: #4B0082;
}
a.dropdown-item:hover {
	background-color: #ffffcc;
	color: #404040 !important;
}
.card {
	height: 100%;
}
.card img {
	max-width: 230px;
	max-height: 300px;
}
a.rolBooks {
	text-decoration: none;
	color: #4B0082;
}